
{% extends "base.html" %}
{% block content %}


 
<h1>Tervetuloa Reseptiarkistoon!</h1> 
<p>Kirjaudu sisään, jotta pääset tarkastelemaan omia reseptejäsi sekä lisäämään uusia.</p>


<table class="table table-bordered table-striped">   
    <thead>
        <tr>
            <th>Resepti</th>
            <th>Valmistusaika/min</th>
            <th>Kategoria</th>
            <th>Lisännyt</th>
        </tr>
    </thead>
    <tbody>
        {% for resepti in reseptit %}
        <tr>
            <td><a href="{{base_path}}/resepti/{{resepti.tunnus}}">{{resepti.nimi}}</td>
            <td>{{resepti.valmistusaika}}</td>
            <td>{{resepti.kategoria}}</td>
            <td>{{resepti.kayttaja}}</td>
            
        </tr>
        {% endfor %}
    
    </tbody>
    
    {% if message %}
<div class="alert alert-success">
    {{message}}</br>
</div>
{% endif %}
</table>

{% endblock %}
