{% extends "base.html" %}
{% block content %}
  
  <p>
    <button class="btn btn-success">Lisää Resepti</button>
  </p>
  
  
  <table class="table table-bordered table-striped">
      
    <thead>
      <tr>
        <th>Resepti</th>
        <th>valmistusaika</th>
        <th>kategoria</th>
        <th>muokkaa reseptiä </th>
        <th>lisää ruokalistaan </th> 
      </tr>
    </thead>
    <tbody>
        {% for resepti in reseptit %}
      <tr>
          <td><a href="{{base_path}}/resepti/{{resepti.tunnus}}">{{resepti.nimi}}</td>
          <td>{{resepti.valmistusaika}}</td>
          <td>{{resepti.publisher}}</td>
        </tr>
     {% endfor %}
    </tbody>
  </table>
{% endblock %}
