{% extends "base.html" %}
{% block content %}
  <h1>Luo uusi resepti</h1>
  


  <form method="post" action="{{base_path}}/resepti">
    <div class="form-group">
      <label>Nimi</label>
      <input name="nimi" class="form-control" type="text">
    </div>

    <div class="form-group">
      <label>Valmistusaika</label>
      <input name="valmistusaika" class="form-control" type="text">
    </div>

    <div class="form-group">
      <label>Valmistusohje</label>
      <textarea name="valmistusohje" class="form-control"></textarea>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary">Lisää</button>
    </div>
  </form>
{% endblock %}
